:host {
  width: 100%;
}

header {
  margin-bottom: 3.6rem;
}

main {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  header,
  main {
    width: 100%;
    max-width: 60rem;
    margin-inline: auto;
  }

  main {
    gap: 2.4rem;
  }
}

@media (min-width: 1440) {
  header,
  main {
    max-width: 75rem;
  }
}

// Loading Start

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: 100dvh;

  background-color: rgba(0, 0, 0, 0.4);

  backdrop-filter: blur(3px);

  z-index: 9999;

  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 4.8rem;
  height: 4.8rem;
  border: 5px solid var(--card-color);
  border-bottom-color: var(--primary-color);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Loading End

// Error Start

/* Add this to your app.scss */

.error-card {
  background-color: var(--card-color);
  border-radius: var(--radius);
  box-shadow: var(--shadow);

  padding: 4rem 2.4rem;
  text-align: center;

  margin-top: 1.6rem;

  h2 {
    font-size: 2rem;
    color: rgb(201, 10, 10);
    margin-bottom: 0.8rem;
  }

  p {
    font-size: 1.4rem;
    color: var(--text-secondary);
    line-height: 1.6;
    max-width: 40rem;
    margin-inline: auto;
  }

  @media (min-width: 768px) {
    margin-top: 2.4rem;
    padding: 6rem 4rem;

    h2 {
      font-size: 2.4rem;
    }
    p {
      font-size: 1.6rem;
    }
  }
}

// Error End
