:root {
  --primary-color: #0079ff;
  --body-bg: #f6f8ff;
  --card-color: #fefefe;

  --text-color: #2b3442;
  --text-secondary: #4b6a9b;

  --gray: #697c9a;

  --logo-color: #222731;

  --shadow: 0 1.6rem 3rem -1rem rgba(70, 96, 187, 0.2);
  --radius: 1.5rem;
}
