<div class="container">
  <section class="profile">
    <h1>The Octocat</h1>
    <p class="nickname">@octocat</p>
    <p class="created">Joined 25 Jan 2011</p>
  </section>

  <p class="description">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
    eros.
  </p>

  <section class="stats">
    <div class="stat">
      <h3>Repos</h3>
      <span>0</span>
    </div>

    <div class="stat">
      <h3>FolloWers</h3>
      <span>0</span>
    </div>

    <div class="stat">
      <h3>Following</h3>
      <span>0</span>
    </div>
  </section>

  <ul class="details">
    <li class="detail">
      <img src="assets\images\icon-location.svg" alt="Based In" />

      <p>San Francisco</p>
    </li>

    <li class="detail">
      <img src="assets\images\icon-website.svg" alt="Based In" />

      <a href="#" target="_blank">https://github.blog</a>
    </li>

    <li class="detail">
      <img src="assets\images\icon-twitter.svg" alt="Based In" />

      <p>Not Available</p>
    </li>

    <li class="detail">
      <img src="assets\images\icon-company.svg" alt="Based In" />

      <p>@github</p>
    </li>
  </ul>
</div>
