<div class="container">
  <section class="profile">
    <div class="profile-img">
      <img [src]="user()?.avatar_url" alt="Profile Image" />
    </div>

    <div class="content">
      <div class="content-block">
        <h1>{{ user()?.name ?? 'No Name' }}</h1>
        <p class="login">{{ `@${user()?.login ?? 'No Login'}` }}</p>
      </div>
      <p class="created">Joined {{ user()?.created_at | date: 'dd MMM yyyy' }}</p>
    </div>
  </section>

  <p class="description" [class.disabled]="!user()?.bio">
    {{ user()?.bio ?? 'This profile has no bio' }}
  </p>

  <section class="stats">
    <div class="stat">
      <h3>Repos</h3>
      <span>{{ user()?.public_repos ?? 0 }}</span>
    </div>

    <div class="stat">
      <h3>FolloWers</h3>
      <span>{{ user()?.followers ?? 0 }}</span>
    </div>

    <div class="stat">
      <h3>Following</h3>
      <span>{{ user()?.following ?? 0 }}</span>
    </div>
  </section>

  <ul class="details">
    <li class="detail" [class.disabled]="!user()?.location">
      <img class="detail-img" src="assets/images/icon-location.svg" alt="Based In" />

      <p>{{ user()?.location ?? 'Not Available' }}</p>
    </li>

    <li class="detail" [class.disabled]="!user()?.blog">
      <img class="detail-img" src="assets/images/icon-website.svg" alt="Based In" />

      @if (user()?.blog) {
        <a [href]="formatUrl(user()?.blog)" target="_blank">
          {{ user()?.blog }}
        </a>
      } @else {
        <p class="disabled">Not Available</p>
      }
    </li>

    <li class="detail" [class.disabled]="!user()?.twitter_username">
      <img class="detail-img" src="assets/images/icon-twitter.svg" alt="Based In" />

      <p>{{ user()?.twitter_username ?? 'Not Available' }}</p>
    </li>

    <li class="detail" [class.disabled]="!user()?.company">
      <img class="detail-img" src="assets/images/icon-company.svg" alt="Based In" />

      <p>{{ user()?.company ?? 'Not Available' }}</p>
    </li>
  </ul>
</div>
